* {
	font-family: 'Baskerville', serif; /* 'Baskervville' */
	/*font-weight:100;*/
	font-style: normal;
  color: #666;
  font-size: 18px;
	/* max-width:1400px; */
	/* -webkit-box-sizing: border-box;
	-mozox-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box; */
}

body {
	background-color: #FFF;
}

p {
  font-size: 1.25em;
	color: inherit;
}

a {
	/* color: #F90; */
  font-size: inherit;
}

span {
  font-size: inherit;
	color: inherit;
}

/* link classes */
a:link {
  /* color: #F90; */
	/* text-decoration:none;
	border:none; */
}

a:hover {
  color: inherit;
}

/* SPEED_COACH */

#photo_bar .right_img {
	/* margin-left: -200px; */
	opacity: 1;
	height: 100%;
	width: 100%;
}

h3 {
	text-decoration: underline;
	text-decoration-color: #F90;
	color: inherit;
}

#sc_logo {
	background: url(../images/photos/speedcoach/hurdles_bw1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 1;
	height:400px;
	background-color: none;
}

#sc_logo .mid {
	padding:130px 0;
}

#sc_logo h1 {
	font-family: Monoton;
	color: rgb(220,220,220);
	text-align: center;
}

#sc_logo h3 {
	color: rgb(220,220,220);
	text-align: center;
}

.block {
	background-color: rgb(33,37,41);
}

.train {
	/* font-family: 'Train One'; */
	font-family: Monoton;
}

.dark_grey {
		color: #333;
}

.dark {
	color: rgb(0,0,50);
}

.dark_bg {
	background-color: rgb(33,37,41);
}

.light_bg {
	background-color: rgb(250,250,250);
}

.overlay {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 400px;
	background-color: rgba(33,37,41,0.6)
}

.pad_100 {
	padding-top: 150px;
}

#sessions {
	padding-top: 50px;
}

#details h4 {
	text-decoration: underline;
	text-decoration-color: #F90;
	color: inherit;
}

#contact h3 {
	text-decoration: none;
}

.social:hover {
	/* color:rgb(220,220,220); */
	border:none;
}
