* {
	font-family: 'Baskerville', serif; /* 'Baskervville' */
	/*font-weight:100;*/
	font-style: normal;
  color: #666;
  font-size: 18px;
	/* max-width:1400px; */
	/* -webkit-box-sizing: border-box;
	-mozox-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box; */
}

body {
	background-color: #FFF;
}

p {
  font-size: 1.25em;
}

a {
	/* color: #F90; */
  font-size: inherit;
}

span {
  font-size: inherit;
}

/* link classes */
a:link {
  /* color: #F90; */
	/* text-decoration:none;
	border:none; */
}

a:hover {
  color: inherit;
}

/* NAVBAR */
.nav-link {
	/* color: rgb(220,220,220) !important; */
	font-size: 1.25rem;
}
.nav-link:hover {
	/* color:#F90!important; */
	text-decoration: overline;
	text-decoration-color: #F90;
}

/* SPEED_COACH */

#speed_coach .right_img {
	/* margin-left: -200px; */
	opacity: 1;
	border-radius: 1rem;
}

#sc_logo {
	background: url(../images/photos/speedcoach/hurdles_bw1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 1;
	height:400px;
	background-color: none;
}

#sc_logo .mid {
	padding:120px 0;
}

#sc_logo h1 {
	font-family: Monoton;
	color: rgb(220,220,220);
	text-align: center;
}

#sc_logo h3 {
	color: rgb(220,220,220);
	text-align: center;
}

.block {
	border: 1px solid #333;
	border-radius: 1rem;
}

.train {
	/* font-family: 'Train One'; */
	font-family: Monoton;
}

.dark_grey {
		color: #333;
}

.dark {
	color: rgb(0,0,50);
}

.overlay {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 400px;
	background-color: rgba(0,0,0,0.6)
}

.pad_100 {
	padding-top: 150px;
}

#details {
	padding-top: 50px;
}

/* #speed_coach a:link {
	color: #F90;
} */

/* a:visited {
	text-decoration:none;
	border:none;
}  */

.social:hover {
	color:rgb(220,220,220);
	border:none;
}
