* {
	/*background-color: #000;*/
	font-family: "Courier New";
	max-width:1200px;
	-webkit-box-sizing: border-box;
	-mozox-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.row {
	display: flex;
	/*flex-wrap: wrap;*/
	width:100%;
}

.col-1 {
	width:8.33%;
}

.col-2 {
	width:16.67%;
}

.col-3 {
	width:25%;
}

.col-4 {
	width:33.33%;
}

.col-5 {
	width:41.67%;
}

.col-6 {
	width:50%;
}

.col-7 {
	width:58.33%;
}

.col-8 {
	width:66.67%;
}

.col-9 {
	width:75%;
}

.col-10 {
	width:83.33%;
}

.col-11 {
	width:91.67%;
}

.col-12 {
	width:100%;
}

body {
	background-color: #000;
	padding-top:20px;
	margin-left:80px;
}

h1 {
	font-size: 24px;	
	font-weight:normal;
	margin:0px 0px 0px 0px;	
}

h2 {
	font-size: 14px;	
	font-weight:bold;
	margin:0px 0px 0px 0px;	
}

h3 {
	font-size: 20px;	
	font-weight:normal;
	margin:0px 0px 0px 0px;	
}

p {
	color:#FFF;
	font-size: 18px;
	margin:0px 0px 0px 0px;
}

.social_list li {
	width:50px;
	text-align:center;
	display: inline-block;
}

img {
	border-style: none;
}
		

a:link {
	text-decoration:none;
	border:none;		
}

a:visited {
	text-decoration:none;
	border:none;
}

a:hover {
	color:#FFF;
	border::none;
}

/*div {
	padding-top:10px;
	padding-bottom:10px;
}*/

#menu {
	padding-top:20px;
	padding-bottom:20px;
}

#main {
	padding-top:20px;
	padding-bottom:20px;
}

#social {
	padding-bottom:10px;
	text-align:right;
}	

#logo { 
	margin:0px;
	width:750px;	
}

#contact_details {
	width:320px;
}

#footer { 
	height: 40px;
	text-align:center;
}

#footer_banner{
	padding-top:10px;
	padding-bottom:10px;
	border-top:5px solid #333;
	border-bottom:5px solid #333;
}

.center {
	display:block;
	margin:auto;
}

.green {
	color:#9F0;
}

.red {
	color:#F00;	
}

.pink {
	color:#F06;	
}

.orange {
	color:#F90;	
}

.lightblue {
	color:#06F;	
}

.gold {
	color:#FF0;	
}

.purple {
	color:#96F;	
}

.white {
	color:#FFF;	
}

.grey {
	color:#666;	
}

.banner {
	width:100%;
	height:auto;
}

.block_title {
	border:1px solid #FFF;
	color:#F06;
	text-align:center;
	height:50px;
	line-height:50px;
}

.pad-block {
	padding:20px;
}

.img-pad {
	padding:40px;
}

.greyborder {
	border-bottom:1px solid #333;	
	vertical-align:top;
	padding:20px;																																																							
}

.blogmenu {
	border-bottom:1px solid #333;
	vertical-align:top;
	padding:10px;																																																								
}

.block_lightgrey {
	background-color:#333;
	padding:20px;
}

.split {
	word-spacing:10px;
	color:#FFF;
}

.footer_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	padding-top:20px;
}
