* {
	/*background-color: #000;*/
	font-family: 'Baskerville', serif;
	/*font-weight:100;*/
	font-style: normal;
	max-width:1400px;
	-webkit-box-sizing: border-box;
	-mozox-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.row {
	display:flex;
	flex-wrap: wrap;
	width:100%;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width:100%;
}

.page-break {
		border-top:1px solid #999;
}

body {
	background-color: #FFF;
	padding-top:20px;
	margin-left:80px;
	margin-right:80px;
}

h1 {
	font-size: 24px;
	font-weight:normal;
	margin:0px 0px 0px 0px;
}

h2 {
	font-size: 48px;
	font-weight:normal;
	margin:20px 0px 0px 0px;
}

h3 {
	font-size: 20px;
	font-weight:normal;
	margin:0px 0px 0px 0px;
	color: #999;
}

h4 {
	font-size: 70px;
	font-weight:normal;
	margin:0px 0px 0px 0px;
	/* font-family: 'Chivo', sans-serif; */
	/* font-weight:800; */
}

p {
	color:#999;
	font-size: 20px;
	font-style: normal;
	margin:0px 0px 0px 0px;
}

span {
	color:inherit;
	font-family:inherit;
	font-size:inherit;
}

ul {
	line-height: 1.8;
	padding-inline-start: 0px;
}

/* .social_list ul {
	padding-inline-start: 0px;
} */

.social_list li {
	width:50px;
	text-align:center;
	display: inline-block;
}

img {
	border-style: none;
}

a:link {
	text-decoration:none;
	border:none;
}

a:visited {
	text-decoration:none;
	border:none;
}

a:hover {
	color:#000;
	border::none;
}

.toggle:hover {
	background-color:#F06;
}

/*div {
	padding-top:10px;
	padding-bottom:10px;
}*/

#header {
	padding-top:10px;
	padding-bottom:20px;
}

#menu {
	padding-top:20px;
	padding-bottom:20px;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
}

#main {
	padding-top:40px;
	padding-bottom:20px;
}

#social {
	padding-bottom:10px;
	text-align:right;
}

.main-image {
	text-align: center;
	position: relative;
}

.main-image:before {
    content: "";
		background-image: url(../images/Photos/tate_run.jpg);
		background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
		opacity: 0.8;
		z-index: -1;
}

.logo {
	margin:0px;
	/*width:750px;*/
	/* font-family: 'Chivo', sans-serif; */
	font-weight:300;
	color:#999;
	font-size:70px;
}

#sub-logo {
	font-weight: 100;
	font-size: 28px;
	color: #999;
}

#contact_details {
	width:320px;
}

#footer {
	height: 40px;
	text-align:center;
}

#footer_banner{
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
}

img#bio {
	opacity: 0.7;
}
.center {
	display:block;
	margin:auto;
}

.green {
	color:#9F0;
}

.red {
	color:#F00;
}

.pink {
	color:#F06;
}

.orange {
	color:#F90;
}

.lightblue {
	color:#09F;
}

.gold {
	color:#FF0;
}

.purple {
	color:#96F;
}

.white {
	color:#FFF;
}

.grey {
	color:#666;
}

.lightgrey {
	color:#999;
}

.banner {
	width:100%;
	height:auto;
}

.text-center {
	text-align: center;
}

.h-pad {
	padding-top:20px;
	padding-bottom:20px;
}

.block-title {
	border:1px solid #999;
	text-align:center;
	vertical-align: middle;
	margin-bottom:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.block {
	padding: 40px;
}

.pad-block {
	padding-right:20px;
	padding-left:20px;
	padding-bottom:20px;
}

.margin-block {
	margin-right:10px;
	margin-left:10px;
	padding:20px;
}

.flex {
	flex-grow: 1;
}

.blog-pad {
	padding-bottom:30px;
}

/* .back-image {
	position: relative;
	width: 100%;
} */

.greyborder {
	border-bottom:1px solid #333;
	vertical-align:top;
	padding:20px;
}

.blogmenu {
	border-bottom:1px solid #333;
	vertical-align:top;
	padding:10px;
}

.block_lightgrey {
	background-color:#333;
	padding:20px;
}

.split {
	word-spacing:10px;
	color:#999;
}

.footer_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	padding-top:20px;
}

span.hiddenmail {
	display: none;
}

/*Media Queries*/
@media only screen and (max-width: 700px) {
	.row {
		flex-direction: column;
	}

	.pad-block {
		width:100%;
	}

	.margin-block {
		width:100%;
	}

	body {
		padding-left:20px;
		padding-right:20px;
		margin-left:auto;
		margin-right:auto;
	}
}
