* {
	/*background-color: #000;*/
	font-family: 'Chivo', sans-serif;
	max-width:1200px;
	-webkit-box-sizing: border-box;
	-mozox-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.row {
	display: flex;
	flex-wrap: wrap;
	width:100%;
}

.col-1 {
	width:100px;
}

.col-2 {
	width:200px;
}

.col-3 {
	width:300px;
}

.col-4 {
	width:400px;
}

.col-5 {
	width:500px;
}

.col-6 {
	width:600px;
}

.col-7 {
	width:700px;
}

.col-8 {
	width:800px;
}

.col-9 {
	width:900px;
}

.col-10 {
	width:1000px;
}

.col-11 {
	width:1100px;
}

.col-12 {
	width:100%;
}

body {
	background-color: #000;
	padding-top:20px;
	margin-left:80px;
}

h1 {
	font-size: 24px;
	font-weight:normal;
	margin:0px 0px 0px 0px;
}

h2 {
	font-size: 14px;
	font-weight:bold;
	margin:0px 0px 0px 0px;
}

h3 {
	font-size: 20px;
	font-weight:normal;
	margin:0px 0px 0px 0px;
	color: #FFF;
}

p {
	color:#999;
	font-size: 18px;
	margin:0px 0px 0px 0px;
}

.social_list li {
	width:50px;
	text-align:center;
	display: inline-block;
}

img {
	border-style: none;
}


a:link {
	text-decoration:none;
	border:none;
}

a:visited {
	text-decoration:none;
	border:none;
}

a:hover {
	color:#FFF;
	border::none;
}

.toggle:hover {
	background-color:#F06;
}

/*div {
	padding-top:10px;
	padding-bottom:10px;
}*/

#header {
	padding-bottom:50px;
}

#menu {
	padding-top:20px;
	padding-bottom:20px;
}

#main {
	padding-top:20px;
	padding-bottom:20px;
}

#social {
	padding-bottom:10px;
	text-align:right;
}

#logo {
	margin:0px;
	width:750px;
	font-family: 'Chivo', sans-serif;
	font-weight:900;
	color:#FFF;
	font-size:100px;
}

#contact_details {
	width:320px;
}

#footer {
	height: 40px;
	text-align:center;
}

#footer_banner{
	padding-top:10px;
	padding-bottom:10px;
	border-top:5px solid #333;
	border-bottom:5px solid #333;
}

.center {
	display:block;
	margin:auto;
}

.green {
	color:#9F0;
}

.red {
	color:#F00;
}

.pink {
	color:#F06;
}

.orange {
	color:#F90;
}

.lightblue {
	color:#06F;
}

.gold {
	color:#FF0;
}

.purple {
	color:#96F;
}

.white {
	color:#FFF;
}

.grey {
	color:#666;
}

.banner {
	width:100%;
	height:auto;
}

.h-pad {
	padding-top:20px;
	padding-bottom:20px;
}

.block-title {
	border:1px solid #FFF;
	text-align:center;
	margin-bottom:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.pad-block {
	padding-right:20px;
	padding-left:20px;
	padding-bottom:20px;
	flex-grow:1;
}

.margin-block {
	margin-right:10px;
	margin-left:10px;
	padding:20px;
	flex-grow:1;
}

.img-pad {
	padding:40px;
}

.back-image {
	position: relative;
	width: 100%;
}

.text-overlay {
	position: absolute;
	top:50px;
	left:50px;
	color:#000;
}

.greyborder {
	border-bottom:1px solid #333;
	vertical-align:top;
	padding:20px;
}

.blogmenu {
	border-bottom:1px solid #333;
	vertical-align:top;
	padding:10px;
}

.block_lightgrey {
	background-color:#333;
	padding:20px;
}

.split {
	word-spacing:10px;
	color:#FFF;
}

.footer_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	padding-top:20px;
}

/*Media Queries*/
@media only screen and (max-width: 700px) {
	.row {
		flex-direction: column;
	}

	.pad-block {
		width:100%;
	}

	.margin-block {
		width:100%;
	}

	body {
		padding-left:20px;
		padding-right:20px;
		margin-left:auto;
		margin-right:auto;
	}
}
