* {
	background-color: #FFF;
	font-family: "Courier New";
	font-size:18px;
	text-align:center;
	max-width:1200px;
}

.header { 	
	padding-left: 10px;
	vertical-align:top;
}

.logo { 
	background-color:#333;
	margin:0px;
	border-collapse:collapse;	
}

.green {
	color:#9F0;
}

.red {
	color:#F00;	
}

.pink {
	color:#F06;	
}

.orange {
	color:#F90;	
}

.lightblue {
	color:#06F;	
}

.gold {
	color:#FF0;	
}

.purple {
	color:#96F;	
}

.white {
	color:#FFF;	
}

.grey {
	color:#666;	
}


.greyborder {
	border-bottom:1px solid #333;	
	vertical-align:top;
	padding:20px;																																																							
}

.blogmenu {
	border-bottom:1px solid #333;
	vertical-align:top;
	padding:10px;																																																								
}

.block_lightgrey {
	background-color:#333;
	padding:20px;
}

.footer { 
	height: 40px;
	border-color:#333;
	text-align:center;
}

h1 {
	font-size: 18px;	
	font-weight:normal;
	margin:0px 0px 0px 0px;	
}

h2 {
	font-size: 14px;	
	font-weight:bold;
	margin:0px 0px 0px 0px;	
}

h3 {
	font-size: 16px;	
	font-weight:normal;
	margin:0px 0px 0px 0px;	
}

p {
	color:#999;
	margin:0px 0px 0px 0px;
	text-align:left;
}

ul { 
	color:#FFF;
	list-style-position: inside;
} 

img {
	border-style: none;
}
		

a:link {
	text-decoration:none;
	border:none;		
}

a:visited {
	text-decoration:none;
	border:none;
}

a:hover {
	color:#000;
	border::none;
}

.split {
	word-spacing: 20px;
	color:#666;
}

.footer_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	text-align:center;
}
