* {
	/*background-color: #000;*/
	font-family: 'Baskerville', serif; /* 'Baskervville' */
	/*font-weight:100;*/
	font-style: normal;
	/* max-width:1400px; */
	/* -webkit-box-sizing: border-box;
	-mozox-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box; */
	color:#666;
}

.large {
	font-size: 1.5rem;
}

/* colour classes */
.green {
	color:#9F0;
}

.red {
	color:#F00;
}

.pink {
	color:#ff8ad8;
}

.orange {
	color:#F90;
}

.lightblue {
	/* color:#00c8d3; */
	/* color:#00CE7F; */
	/* color:#80c8d3; */
	color:#7FC8D3; /*rgb(127,200,211) */
}

.gold {
	color:#ffc200;
}

.purple {
	color:#96F;
}

.white {
	color:#FFF;
}

.grey {
	color:#666;
}

.lightgrey {
	color:#999;
}

.offwhite {
	color: rgb(220,220,220);
}

.black {
	color:#000;
}

.bold {
	font-weight: bold;
}

/* link classes */
a:link {
	text-decoration:none;
	border:none;
}

a:visited {
	text-decoration:none;
	border:none;
}

.social:hover {
	color:#666;
	border:none;
}

/* NAVBAR */
.nav-link {
	color: #666 !important;
	font-size: 1.25rem;
}
.nav-link:hover {
	/* color:#F90!important; */
	text-decoration: overline;
	text-decoration-color: #7FC8D3;
}

.navbar {
	/* background-color: #FFF; */
	/* border-bottom: 1px solid #999; */
	/* opacity: 0.8; */
}

/* .navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #F90;
} */


/* LOGO */

#logo {
	padding-top: 100px;
	padding-bottom: 50px;
}

/* BANNER */

#banner {
	/* background: url(../images/photos/20220122_150530_bw.jpg); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	/* background-attachment: fixed; */
	/* min-height: 700px; */
}

#banner .dark-overlay {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 700px;
	background-color: rgba(0,0,0,0.2)
}

#banner .banner-inner {
	padding-top: 100px;
}

/* SERVICES */

#services {
	background: url(../images/photos/mac2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* min-height: 800px; */
}

#services .light-overlay {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	/* height: 800px; */
	background-color: rgba(240,240,240,0.8)
}

#services h3 {
	/* text-decoration: underline;
	text-decoration-color: #999; */
	color: #333;
}

#services h5 {
	color: #333;
}

#services .fas {
	color: #333;
	/* background-color: #666; */
	padding:3px;
	border: 2px solid #333;
	border-radius: 5px;
}

#services a, a:visited {
	color: inherit;
}

#services a:hover {
	color: #F90;
}

/* PHILOSOPHY */

#philosophy img {
	opacity: 0.9;
}

/* PROGRAMMES */

#programmes {
	padding-bottom: 200px;
}

#programmes a:link {
	background-color: #7FC8D3;
}

/* ABOUT */

#about {
	padding-top:100px;
}

#about .img-bio {
	margin-top: -300px;
	opacity: 1;
}

/* TESTIMONIALS */
#testimonials img {
	max-width:60%;
	opacity: 1;
}

#testimonials .carousel {
	min-height:450px;
}

#testimonials .blockquote {
	font-size: 1.5rem;
	color: #999;
}

#testimonials .blockquote-footer {
	color: #666;
	font-size: 1.25rem;
	padding-top: 1rem;
}

#testimonials blockquote i {
	color: #7FC8D3;
	opacity: 1;
}

/* FEATURED */
#featured img {
	opacity: 1;
	/* min-height:400px; */
}

/* .footer p, .footer a:link, .footer span {
	/* font-family: Arial;
	/* font-size: 1.1rem;
	color: rgb(220,220,220) !important;
} */

#main-footer .brdr {
	border-bottom: 1px solid #666;
}

#main-footer span, #main-footer a:link, #main-footer a:visited  {
	color: rgb(220,220,220);
}

#main-footer a:hover {
	color: #7FC8D3;
}

/* MEDIA QUERIES */

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}
