Options +FollowSymlinks
DirectoryIndex index.php

RewriteEngine on

RewriteCond %{HTTP_HOST} ^www.tatumnelson.com$ [OR]
RewriteCond %{HTTP_HOST} ^tatumnelson.com$ [OR]
RewriteCond %{HTTP_HOST} ^tatumnelson.co.uk$
RewriteRule ^ https://www.tatumnelson.co.uk [R=301,L]
