Options +FollowSymlinks
DirectoryIndex index.php

RewriteEngine on
RewriteRule ^.well-known/ - [L,NC]
RewriteRule "(^|/)\." - [F]
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
